#main_role{
	background: url('https://i.pinimg.com/originals/df/02/b2/df02b296b9cb30481aa8f32f1345cebf.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 40px;
}
.option_menu{
	width: 200px;
	padding: 10px;
	border-radius: 5px; 
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}